@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default padding */
    margin:0;
    background: linear-gradient(90deg, rgba(33, 150, 196, 1) 0%, rgba(20, 35, 117, 1) 100%);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;

    overscroll-behavior: none;
    scroll-behavior: smooth;
}

* {
    color: white;
    font-family: "Science Gothic";
    font-weight: 500;
}

header .HeaderContainer {
    display: flex;
    backdrop-filter: blur(20px);
    background-color: rgb(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

header .Divwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

header .Divwrapper nav a {
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px transparent solid;
    transition: border-bottom 0.3s ease;
}

header .Divwrapper nav a:hover {
    border-bottom: 2px #00ffff solid;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.Container {
    width: 100%;
}

.Container h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 7rem;
}

.Container h1 {
    background-image: linear-gradient(55deg, #5b0087, #00808d);
    background-clip: text;
    background-size: 400% 400%;
    color: transparent;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

#Family-Tree, #Liked-Activities, #Voice-Recordings {
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.center{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerTop{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    position: relative;
}

.centerBottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    position: relative;
}

.centerTop .PersonCard{
    z-index: 1;
}

.center .longLine::before{
    left:44.1%;
    top:50%;
    width: 123px;
}

.centerBottom .PersonCard::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 3px;
    left:47.5%;
    background-color: white;
    top:-23px;
}

.centerTop .betweenLine::before{
    width: 890px;
    left:-360px;
}

.Family-Tree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-row-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.Middle-row-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top:10px
}

.top-row-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.Middle-row-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top:10px
}

.PersonCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    height: 150px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.PersonCard img{
    height: 100%;
    width: 100%;
    top:0;
    object-fit: cover;
    position:absolute;
    z-index: 0;
    border-radius:10px;
}

.PersonCard h2{
    margin:0;
    color: black;
    z-index: 1;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-row-left, .top-row-right, .left, .right, .Middle-row-left{
    position: relative;
}

.betweenLine::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    top:50%;
    background-color: white;
    left: 100px;
}

.betweenLine::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 3px;
    top:50%;
    background-color: white;
    left: 49%;
}

.longLine::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 142px;
    top:57%;
    background-color: white;
    left: 49px;
}

.Middle-row-left .PersonCard::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 3px;
    background-color: white;
    top:-30px;
}

.Middle-row-left .Padre2::before{
    height: 258px;
}

.Middle-row-right{
    justify-content: center;
}

.Middle-row-right .PersonCard::before{
    content: "";
    position: absolute;
    height: 261px;
    width: 3px;
    left:47.5%;
    background-color: white;
    top:-33px;   
}

.left, .right h3{
    text-align: center;
}